<Template name="Inspector">

  <div class="editor-container">

    {{> Instructions}}
    
    <div>Click here to restore the defaults :  <button class="restoreDefaults">Restore Defaults</button></div>
    
    <h4>Edit the Template</h4>
    <textarea class="html-editor"></textarea>
    <div class="{{htmlErrorClass}}">{{htmlError}}</div>

    <h4>Edit the CSS</h4>
    <textarea class="css-editor"></textarea>
    <div class="{{cssErrorClass}}">{{cssError}}</div>
  </div>

  <div class="editor-container rendered-output">
    <h4>Rendered Result : </h4>
    <div id="htmlOutput"></div>
  </div>

</Template>