body{
  margin:0;
  padding:0;
}

header{
  background-color:#EBEBEB;
  margin:0;
  padding:12px;
}
button:hover{
  cursor:pointer;
  color:#A6344A;
}
.main-title{
  margin : 12px 12px 0 12px;
}
.main-description{
  margin : 2px 12px 0;
}

.editor-menu{
  padding:12px;
  background-color:#DDDDDD;
  min-height:36px;
}
.template-menu{
  display:inline-block;
}
.left-controls{
  position:absolute;
}
.right-controls{
  position:absolute;
  right:16px;
}
.template-menu .form-error-message{
   position:absolute;
  right:16px;
}

.template-title{
  display:inline;
  padding-left:18px;
}
a.template-list{
  min-width:200px;
}
.template-list{
  text-decoration: none;
  display:inline-block;
  padding:0px 12px;
}

.template-list.date{
  float:right;
}

#like-template-btn{
  width:60px !important;
  height:18px !important;

}

.instructions-container{
 
  color:#272822;
  border-radius: 8px;
  padding:12px;
  margin:8px;
  line-height:1.3em;
  font-family: monospace;
  font-size:14px;
}
.instructions-container a{
  font-family: monospace;  
  font-size:14px !important;
}
a#toggle-directions {
  text-align: right;
  float: right;
  display: block;
  margin-top:-32px;
}

.editor-container{
  width:45%;
  display:inline-block;
  vertical-align:top;
  padding:2%;
}
.editor-container a{
  font-size:18px;
}
.editor-container a:hover{
  background-color:#000;
  color:#fff;
}

.editor-instructions h4{
  margin-bottom:0px;
  border-bottom:4px solid #000;
}

.form-error-message{
  color:#ff1100;
  font-size:14px;
}

#htmlOutput{
  width:100%;
}

.file-name-header{
  font-family: monospace;
  background-color: #272822;
  color:#fff;
  font-weight:normal;
  width:160px;
  margin-top:16px;
  padding:4px 4px 4px 18px;
  border-bottom:1px solid #34352D;
-webkit-box-shadow: inset 0px 18px 16px -13px rgba(255, 255, 255, 0.24);
-moz-box-shadow:    inset 0px 18px 16px -13px rgba(255, 255, 255, 0.24);
box-shadow:         inset 0px 18px 16px -13px rgba(255, 255, 255, 0.24);
}

.errorPanel{
  background:#660000;
  color:#ff9900;
  font-size:12px;
  font-family:arial;
  padding:8px;
}    
.errorPanel.ok{
  background:#c6dea6;
  color:#006b3c;
}

.mongo{
  background-color: #272822;
  color: #A0E22D;
  font-size:14px;
  font-family:Arial;
  word-wrap: break-word;
  padding:8px;
  border-radius:8px;
  border:1px solid #ccc;
}

.callout{
  font-weight: bold;
}

#alertPanel{
  position:fixed;
  top:12px;
  right:12px;
  background-color:#dff2d8;
  width:45%;
  border-radius:8px;
  text-align:center;
  padding:8px;
  font-family: Arial;
  display:none;
}