.main-title{
  margin : 12px 12px 0 12px;
}
.main-description{
  margin : 2px 12px 0;
}

.editor-container{
  width:45%;
  display:inline-block;
  vertical-align:top;
  padding:2%;
}

.editor-instructions h4{
  margin-bottom:0px;
  border-bottom:4px solid #000;
}

#htmlOutput{
  width:100%;
}

#cssError,
#errorPanel{
  background:#660000;
  color:#ff9900;
  font-size:12px;
  font-family:arial;
  padding:8px;
}    
#errorPanel.ok{
  background:#c6dea6;
  color:#006b3c;
}

.mongo{
  background-color: #272822;
  color: #A0E22D;
  font-size:14px;
  font-family:Arial;
  word-wrap: break-word;
  padding:8px;
  border-radius:8px;
}

.callout{
  font-weight: bold;
}

#alertPanel{
  position:fixed;
  top:12px;
  right:12px;
  background-color:#dff2d8;
  width:45%;
  border-radius:8px;
  text-align:center;
  padding:8px;
  font-family: Arial;
  display:none;
}