/*
  CSS for the main layout and views.
*/


body{
  margin:0;
  padding:0;
}

header,.login-header{
  background-color:#EBEBEB;
  margin:0;
  padding:12px 12px 0;
}
.login-header{
  height:38px;
}

button:hover{
  cursor:pointer;
  color:#A6344A;
}
.main-title{
  padding : 12px;
  margin:0;
  float:left;
}
.main-description{
  margin : 2px 12px 0;
}

.editor-menu{
  padding:12px;
  background-color:#DDDDDD;
  min-height:36px;
}
.template-menu{
  display:inline-block;
}
.left-controls{
  position:absolute;
}
.right-controls{
  position:absolute;
  right:16px;
}
.template-menu .form-error-message{
   position:absolute;
  right:16px;
}

.template-title{
  display:inline;
  padding-left:18px;
}


#like-template-btn{
  width:60px !important;
  height:18px !important;

}

.instructions-container{
 
  color:#272822;
  border-radius: 8px;
  padding:12px;
  margin:8px;
  line-height:1.3em;
  font-family: monospace;
  font-size:14px;
}
.instructions-container a{
  font-family: monospace;  
  font-size:14px !important;
}
a#toggle-directions {
  text-align: right;
  float: right;
  display: block;
  margin-top:-32px;
}

.editor-container{
  width:45%;
  display:inline-block;
  vertical-align:top;
  padding:2%;
}

.template-list{
  text-decoration: none;
  display:inline-block;
  
}
a.template-list-item{
  padding:0px 12px;
  display:inline-block;
  min-width:200px;
}
a.template-list-item:hover{
  background-color:#000;
  color:#fff;
}
.template-list-item.name{
  float:left;
}
.template-list-item.date{
  float:right;
}

.editor-instructions h4{
  margin-bottom:0px;
  border-bottom:4px solid #000;
}

.form-error-message{
  color:#ff1100;
  font-size:14px;
}

#htmlOutput{
  width:100%;
}



.mongo{
  background-color: #272822;
  color: #A0E22D;
  font-size:14px;
  font-family:Arial;
  word-wrap: break-word;
  padding:8px;
  border-radius:8px;
  border:1px solid #ccc;
}

.callout{
  font-weight: bold;
}

#alertPanel{
  position:fixed;
  top:12px;
  right:12px;
  background-color:#dff2d8;
  width:45%;
  border-radius:8px;
  text-align:center;
  padding:8px;
  font-family: Arial;
  display:none;
}

.footer-nav{
  position:fixed;
  bottom:0;
  background-color:rgba(255,255,255,.5);
  width:45%;
  height:10px;
  padding:2%;
  z-index:5;
  border-radius: 16px;
}
#next-template-btn{
  float:right;
}
#previous-template-btn{
  float:left;
}

.login .username{
  color:#596595;
  display:inline-block;
}
img.avatar{
  display:inline-block;
  border-radius:4px;
  vertical-align: middle;
}
