<Template name="About">




  <div class='instructions-container'>

    
    <div class="editor-container">

      <h1>How it works</h1>
      <a href="https://github.com/looshi/Blaze-Haus" target="_blank">View source on github</a><br/><br/>
      

      The editable 'files' are read and written to the database.<br/>
      Upon edits to each respective file : <br/>
      - A dynamic template is created and rendered from the .html file.  <br/>
      - Global helpers are defined by the .js file.  <br/>
      - The styles in the .css file are applied to the CSSOM.<br/>
      - The 'Data' collection is created from the .json file.<br/>

      The code of interest that renders the template is <a href="https://github.com/looshi/Blaze-Haus/blob/master/client/views/template-editor/Editor.js#L251" target="_blank">here.</a><br/><br/>

      <h1>Resources</h1>
      <p>
        The <a href="http://docs.meteor.com/#/full/blaze" target="_blank">Blaze documentation</a> is a good place to start.
        <br/>
        <a href="http://docs.meteor.com/#/full/blaze" target="_blank">docs.meteor.com</a>
      </p>
      <p>
        Try <a href="http://meteorpad.com<" target="_blank">Meteorpad.</a>  Blaze Haus is a simulation, and to some degree only an approximation, of one aspect of Meteor.  If you would like to try out 'real' Meteor code, share bug replications, or demonstrate server side techniques, Meteor Pad is the place to go.<br/>
        <a href="http://meteorpad.com<" target="_blank">meteorpad.com</a><br/><br/>
      </p>

      <h1>Get in touch</h1>
      All feedback and collaborators welcome.<br/>
      contact : dave@smoothtalker.biz
    </div>
    
    <div class="editor-container">
      <div>
        <h1>Instructions</h1>

        Edit the files to see your changes applied to the template in realtime.<br/><br/>

        <h3>HTML</h3>

        Use spacebars syntax in the HTML file like so : <br/><br/>
        <span class='callout'>&#123;&#123;#each person&#125;&#125;</span><br/>
        &nbsp;&nbsp;&nbsp; &lt;div&gt;the person's name is &#123;&#123;name&#125;&#125;&lt;/div&gt;<br/>
        &nbsp;&nbsp;&nbsp; &lt;div&gt;and they are from &#123;&#123;country&#125;&#125;&lt;/div&gt;<br/>
        <span class='callout'>&#123;&#123;/each&#125;&#125;</span><br/><br/>

        <a href="https://www.discovermeteor.com/blog/spacebars-secrets-exploring-meteor-new-templating-engine/" target="_blank">good article about spacebars from discovermeteor.com</a><br/><br/>

        Maximum allowed HTML size : 2000 chars.

        <h3>Javascript</h3>

        Add helpers in the .js file like so : <br/><br/>
        helpers = &#123;<br/>
        &nbsp;&nbsp;person : function()&#123;<br/>
        &nbsp;&nbsp;&nbsp; return Data.find();<br/>
        &nbsp;&nbsp;&#125;,<br/>
        &nbsp;&nbsp;timesFour : function(num)&#123;<br/>
        &nbsp;&nbsp;&nbsp; return num*4;<br/>
        &nbsp;&nbsp;&#125;,<br/>
        &#125;<br/>
        <br/>
        Maximum allowed Javascript size : 2000 chars.

        <h3>CSS</h3>
        Edit the CSS file and style your template.<br/>
        We don't scope the CSS, so you can make the rest of the page look better too if you want.<br/>
        Maximum allowed CSS size : 2000 chars.

        <h3>JSON</h3>

        The 'Data' Collection is populated with data from the Data.json file.<br/>
        Edit the default JSON, or import your own.<br/><br/>
        <a href="https://www.mockaroo.com/" target="_blank">mockaroo.com</a> is a good tool to generate test data.<br/><br/>
        

      </div>
      <div>
      Use double quotes for keys and string values<br/> 
      The JSON items must be members of an array<br/>
      </div>
      <div class='mongo'>
        [{<br/>&nbsp;&nbsp;"country" : "China",<br/>
        &nbsp;&nbsp;"city" : "Bijia",<br/>
        &nbsp;&nbsp;"name" : "Kathy"<br/>},<br/>
        {&nbsp;&nbsp;"country" : "France",<br/>
        &nbsp;&nbsp;"city" : "Paris",<br/>
        &nbsp;&nbsp;"name" : "Sebastien"<br/>}]<br/>
      </div>
      You can use array values like so : 
      <div class='mongo'>
      [{<br/>
        &nbsp;&nbsp;<span>"name"</span>: <span>"Strings"</span>,<br/>
        &nbsp;&nbsp;<span>"items"</span>:[<span>"dog"</span>,<span>"cat"</span>,<span>"bird"</span>]<br/>
      },<br/>
      {<br/>
        &nbsp;&nbsp;<span>"name"</span>: <span>"Numbers"</span>,<br/>
        &nbsp;&nbsp;<span>"items"</span>:[<span>1</span>,<span>2</span>,<span>3</span>]<br/>
      },<br/>
      {<br/>
        &nbsp;&nbsp;<span>"name"</span>: <span>"Objects"</span>,
        &nbsp;&nbsp;<span>"items"</span>:[{<span>"name"</span>:<span>"John"</span>},{<span>"name"</span>:<span>"Larry"</span>}]<br/>
      }]<br/>
      </div>
      Maximum allowed JSON size : 10000 chars.<br/>


    </div>

  </div>

</Template>