<Template name="UserProfile">

  <div class="user-profile">
    <img src='https://avatars.githubusercontent.com/u/{{services.github.id}}?s=200'/>
    <h1>{{services.github.username}}</h1>
    
    <h3>{{getNumUserTemplates}} templates in the haus : </h3>
      {{#each getUserTemplates}}
        <div class='template-list-item-admin-container'>
          {{> TemplateListItem}}
          {{#if isOwner}}
            <div class='template-list-published'>{{> PublishTemplate}}</div>
          {{/if}}
        </div>
    {{/each}}
  </div>

</Template>