<Template name='TemplateList'>
  {{> HomeHeader}}
  <div class="editor-menu">
   
  
    <div class="left-controls">
      {{> CreateTemplateButton}}
    </div>
    
    <div class="right-controls">
      {{getNumTemplates}} Templates in the Haus!
    </div>
  </div>
  
  <div class="template-list">

    {{#each templates}}
      <a class='template-list-item' href="/{{_id}}">
        <div class='template-list-item name'>{{name}}</div>
        <div class='template-list-item date'>&#9829; {{likes}}</div>
      </a>
    {{/each}}
  </div>

</Template>