<Template name='TemplateList'>
  
  {{> HomeHeader}}
  
  <div class="editor-menu">
    <div class="center-button">
      {{> CreateTemplateButton}}
    </div>
    <div class="right-controls">
      {{getNumTemplates}} Templates in the Haus!
    </div>
  </div>

  <div class="template-list top-rated">
    <h4>Top Rated</h4>
    {{#each getTopRated }}
      {{>TemplateListItem}}
    {{/each}}
  </div>

  <div class="template-list latest">
    <h4>Recently Added</h4>
    {{#each getLatest }}
      {{>TemplateListItem}}
    {{/each}}
  </div>

  <div class="pagination">
    {{#each getPages}}
      <a class="paging-link {{getSelectedPage index}}" 
        href="/browse/{{index}}/{{amount}}" 
        data-index="{{index}}" 
        data-amount="{{amount}}"
        >
        {{index}}
      </a>
    {{/each}}
  </div>

</Template>