<Template name="Instructions">

  <div class='instructions-container'>
    <div>
      Directions : Edit the HTML and CSS below.
    </div>

    <div>
      If another user is currently editing this page, you will see their edits applied.
    </div>
    <div>
    The data context for this template is the 'PeopleCollection'.<br/>
    One document from the PeopleCollection looks like this : 
    </div>
    <div class='mongo'>
      { &nbsp;&nbsp;country : 'China',<br/>
      &nbsp;&nbsp;date : '1/1/2014','<br/>
      &nbsp;&nbsp;city : 'Bijia','<br/>
      &nbsp;&nbsp;company : 'Skajo',<br/>
      &nbsp;&nbsp;name : 'Kathy',<br/>
      &nbsp;&nbsp;color : '#ffff99' }
    </div>
    <div>
      <span class='callout'>&#123;&#123;this&#125;&#125;</span> in the Template's editable spacebars syntax below represents the PeopleCollection data we are subscribed to.
    </div>
  </div>

</Template>