<head>
  <title>Meteor Live Template Editor</title>
</head>

<body>
  <h2 class='main-title'>Edit Meteor Template Live Example App</h2>
  <div class='main-description'>
    Demo application which reads and writes CSS and dynamic Meteor Blaze Templates via the database and renders the changes live.<br/>
    <a href="https://github.com/looshi/Meteor-Template-Live-Editor" target="_blank">View source on github</a><br/>
    Directions : Edit the Template and CSS code below.<br/>
    <br/>
  </div>


</body>

<Template name='MainLayout'>

  <div id="alertPanel"></div>
  

    {{> yield}}
    
  

</Template>

<Template name='LoadingTemplate'>

  loading...

</Template>
