<head>
  <title>Meteor Live Template Editor</title>
</head>

<body>
  <a href="/"><h2 class='main-title'>Edit Meteor Template Live Example App</h2></a>
  <div class='main-description'>
    Demo application which reads and writes dynamic, reactive Meteor Blaze Templates via the database and renders the changes live.<br/>
    <a href="https://github.com/looshi/Meteor-Template-Live-Editor" target="_blank">View source on github</a><br/>
    
    <br/>
  </div>


</body>

<Template name='MainLayout'>

  <div id="alertPanel"></div>
  

    {{> yield}}
    
  

</Template>

<Template name='LoadingTemplate'>

  loading...

</Template>
