<Template name="Editor">
 
 <!--
  {{> Instructions}} 
-->

  <div class="editor-menu">
     
    <div class="left-controls">
      <div class="template-title">
        {{name}} {{{templateOwnerAvatar this}}}
      </div>
      <div class="template-like-button">
        {{> LikeButton}}
      </div>
      
      <div class="template-date"> 
        {{modified.getMonth}}/{{modified.getDate}}/{{modified.getUTCFullYear}}
      </div>
      <div class="template-like-button"> 
        {{> ToggleSourceCode}}
      </div>
    </div>
    
    <div class="right-controls">
      {{> CreateTemplateButton}}
      {{> DuplicateTemplateButton}}
      {{> DeleteTemplateButton}}
      {{> RenameTemplateButton}}
    </div>
  </div>

  <div class="editor-curtain"> </div> <!-- used to hide loading glitches -->
  <div class="editor-container source-code">
  
    {{> Tabs}}
  
    <div class="tab">
      <div id="tab-1" class="tab-content">
        <textarea class="html-editor"></textarea>
        <div class="{{htmlErrorClass}}">{{htmlError}}</div>
      </div>
      <div id="tab-2" class="tab-content">
        <textarea class="js-editor"></textarea>
        <div class="{{htmlErrorClass}}">{{htmlError}}</div>
      </div>
      <div id="tab-3" class="tab-content">
        <textarea class="css-editor"></textarea>
        <div class="{{cssErrorClass}}">{{cssError}}</div>
      </div>
      <div id="tab-4" class="tab-content">
        <textarea class="json-editor"></textarea>
        <div class="{{jsonErrorClass}}">{{jsonError}}</div>
      </div>
    </div>

  </div>


  <div class="editor-container rendered-output full-screen">
    <div id="htmlOutput"></div>
  </div>

  {{> FooterNav}} 
  
  
</Template>