<Template name="Editor">
 
  {{> Instructions}} 


  <div class="editor-menu">
     
    <div class="left-controls">
      <div class="template-title">
        {{name}}
      </div>
      
      {{> LikeButton}}
      
      <div class="template-title">last modified : 
        {{modified.getMonth}}/{{modified.getDate}}/{{modified.getUTCFullYear}}
      </div>
    </div>
    
    <div class="right-controls">
      {{> CreateTemplateButton}}
      {{> DuplicateTemplateButton}}
      {{> DeleteTemplateButton}}
      {{> RenameTemplateButton}}
    </div>
  </div>


  <div class="editor-container">
  
    {{> Tabs}}
  
    <div class="tab">
      <div id="tab-1" class="tab-content">
        <textarea class="html-editor"></textarea>
        <div class="{{htmlErrorClass}}">{{htmlError}}</div>
      </div>
      <div id="tab-2" class="tab-content">
        <textarea class="js-editor"></textarea>
        <div class="{{htmlErrorClass}}">{{htmlError}}</div>
      
      </div>
      <div id="tab-3" class="tab-content">
        <textarea class="css-editor"></textarea>
        <div class="{{cssErrorClass}}">{{cssError}}</div>
      </div>
    </div>


    
  </div>

  <div class="editor-container rendered-output">
    <div id="htmlOutput"></div>
  </div>
  
</Template>