<Template name="Editor">

  <div class="editor-menu">
    {{> Instructions}} 
    {{> CreateTemplateButton}}
  </div>

  <div class="editor-container">

    <!--<div><button class="restoreDefaults">Restore Default Styles and HTML</button></div>-->
   
    <div class="file-name-header">{{name}}.html</div>
    <textarea class="html-editor"></textarea>
    <div class="{{htmlErrorClass}}">{{htmlError}}</div>

    <div class="file-name-header">{{name}}.css</div>
    <textarea class="css-editor"></textarea>
    <div class="{{cssErrorClass}}">{{cssError}}</div>
  </div>

  <div class="editor-container rendered-output">
    <div id="htmlOutput"></div>
  </div>

</Template>