  <Template name="CreateTemplateButton">

    <div class="template-menu create-template">
      <button id="create-new-template-btn">Create New Template</button>
      <div id="new-template-controls">
        <input id='template-name-field' type='text' placeholder='Enter a name'/>
        <button id="confirm-new-template-btn">Create</button>
        <button id="cancel-new-template-btn">Cancel</button>
        <div id="new-template-error" class="form-error-message"></div>
      </div>
      
    </div>

</Template>