  <Template name="DeleteTemplateButton">

    <div class="template-menu delete-template">
      <button id="delete-template-btn" class="menu-button">Delete</button>
      <div id="delete-template-controls" class="menu-confirmation">
        <span id="delete-confirm-message">Delete Template ? </span>
        <button id="confirm-delete-template-btn">Delete</button>
        <button id="cancel-delete-template-btn">Cancel</button>
        <div id="delete-template-error" class="form-error-message"></div>
      </div>
      
    </div>

</Template>