  <Template name="DuplicateTemplateButton">

    <div class="template-menu create-template">
      <button id="duplicate-template-btn">Duplicate Template</button>
      <div id="duplicate-template-controls">
        <input id='duplicate-template-name-field' type='text' placeholder='Enter a name'/>
        <button id="confirm-duplicate-template-btn">Duplicate</button>
        <button id="cancel-duplicate-template-btn">Cancel</button>
        <div id="duplicate-template-error" class="form-error-message"></div>
      </div>
      
    </div>

</Template>