  <Template name="RenameTemplateButton">

    <div class="template-menu rename-template">
      <button id="rename-template-btn" class="menu-button">Rename</button>
      <div id="rename-template-controls" class="menu-confirmation">
        <input id='rename-template-field' type='text' placeholder='Enter a name'/>
        <button id="confirm-rename-template-btn">Rename</button>
        <button id="cancel-rename-template-btn">Cancel</button>
        <div id="rename-template-error" class="form-error-message"></div>
      </div>
      
    </div>

</Template>